[submodule "site/pack/coq/start/coq_nvim"]
	path = site/pack/coq/start/coq_nvim
	url = https://github.com/ms-jpq/coq_nvim.git
	branch = coq
[submodule "site/pack/coq/start/coq.artifacts"]
	path = site/pack/coq/start/coq.artifacts
	url = https://github.com/ms-jpq/coq.artifacts.git
	branch = artifacts
[submodule "site/pack/coq/start/coq.thirdparty"]
	path = site/pack/coq/start/coq.thirdparty
	url = https://github.com/ms-jpq/coq.thirdparty.git
	branch = 3p
[submodule "site/pack/theme/start/gruvbox.nvim"]
	path = site/pack/theme/start/gruvbox.nvim
	url = https://github.com/ellisonleao/gruvbox.nvim
[submodule "site/pack/syntax/start/autoclose.nvim"]
	path = site/pack/syntax/start/autoclose.nvim
	url = https://github.com/m4xshen/autoclose.nvim
[submodule "site/pack/syntax/start/tabout.nvim"]
	path = site/pack/syntax/start/tabout.nvim
	url = https://github.com/abecodes/tabout.nvim
[submodule "site/pack/syntax/start/lightline.vim"]
	path = site/pack/syntax/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "site/pack/syntax/start/nvim-treesitter"]
	path = site/pack/syntax/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
